.jumbotron {
	background-color: transparent;
}

.jumbotron > h1 {
	color: white;
	font-family: 'Pattaya', sans-serif;
}

.container-home {
	position: relative;
	height: 90vh;
}

.btn-index {
	background-color: #a1774f;
	border-color: #a1774f;
	margin-right: 10px;
	border-radius: 2px;
	margin-top: 5px;
	margin-bottom: 5px;
}