<h2>Basic Info</h2>

<div ng-hide="editingInfo">
	<button type="button" ng-click="enableInfoEdit()">Edit</button>
	<p> Company: {{information.company_info}} </p>
	<p> Phone Number: {{information.phone_number}} </p>
	<p> Address: {{information.address}} </p>
	<p> Email: {{information.email}} </p>
	<p> Wechat: {{information.wechat}} </p>
	<p> QQ: {{information.qq}} </p>
	<p> Weibo: {{information.weibo}} </p>
	<p> Facebook: {{information.facebook}} </p>
	<p> Google+: {{information.google_plus}} </p>
	<p> Instagram: {{information.instagram}} </p>
</div>
<div ng-show="editingInfo">
	<p> Company: <input ng-model="updateInfo.company_info"> </p>
	<p> Phone Number: <input ng-model="updateInfo.phone_number"> </p>
	<p> Address: <input ng-model="updateInfo.address"> </p>
	<p> Email: <input ng-model="updateInfo.email"> </p>
	<p> Wechat: <input ng-model="updateInfo.wechat"> </p>
	<p> QQ: <input ng-model="updateInfo.qq"> </p>
	<p> Weibo: <input ng-model="updateInfo.weibo"> </p>
	<p> Facebook: <input ng-model="updateInfo.facebook"> </p>
	<p> Google+: <input ng-model="updateInfo.google_plus"> </p>
	<p> Instagram: <input ng-model="updateInfo.instagram"> </p>

	<button type="button" ng-click="saveInfo(updateInfo)">Save</button>
	<button type="button" ng-click="disableInfoEdit()">Cancel</button>
</div>

<!-- Fleets Session -->
<h2>Fleets</h2>

<button ng-click="enableFleetAdd()" ng-hide="addingNewFleet">Add a New Fleet</button>

<form ng-submit="addFleet()" ng-show="addingNewFleet">
	<h3>Add a new fleet</h3>
	<div class="form-group">
		<input type="text" ng-model="brand" placeholder="Brand" required>
	</div>
	<div class="form-group">
		<input type="text" ng-model="type" placeholder="Type" required>
	</div>
	<div class="form-group">
		<input type="number" ng-model="price" placeholder="Price/Hour" required>
	</div>
	<div class="form-group">
		<input type="text" ng-model="description" placeholder="Description" required>
	</div>
	
	<button type="submit" >Confirm</button>
	<button type="button" ng-click="disableFleetAdd()" ng-show="addingNewFleet">Cancel</button>
</form>

<table class="table table-striped table-condensed">
	<thead>
		<tr>
			<th>Image</th>
			<th>Brand</th>
			<th>Type</th>
			<th>Price/hour</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="fleet in fleets | orderBy: 'brand'">
			<td ng-hide="editingFleet[$index]">
				 <img src={{fleet.images[0].url}} alt=""> 
			</td>
			<td ng-hide="editingFleet[$index]">{{fleet.brand}}</td>
			<td ng-hide="editingFleet[$index]">{{fleet.type}}</td>
			<td ng-hide="editingFleet[$index]">{{fleet.price}}</td>
			<td ng-hide="editingFleet[$index]">{{fleet.description}}</td>
			<td ng-hide="editingFleet[$index]">
				<button ng-click="enableFleetEdit(fleet, $index)">Edit</button>
			</td>
			
			<td ng-show="editingFleet[$index]">
				<p>
					<button type="button" class="button" ngf-select="upload($files, 'fleets', fleet)" ng-model="files" name="files" ngf-multiple="true" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100" 
					ngf-resize="{width: 400, height: 400}">Select Image</button>
				</p>
				<div ng-repeat="file in files">
					<img style="width:100px;" ngf-thumbnail="file || '/thumb.jpg'"/>
				  	<p>{{progress}}</p>
					<i ng-show="form.file.$error.required">*required</i><br>
					<i ng-show="form.file.$error.maxSize">File too large 
					{{file.size / 1000000|number:1}}MB: max 20M</i>	
				</div>
			</td>
			<td ng-show="editingFleet[$index]"><input ng-model="updateFleet.brand"></td>
			<td ng-show="editingFleet[$index]"><input ng-model="updateFleet.type"></td>
			<td ng-show="editingFleet[$index]"><input ng-model="updateFleet.price"></td>
			<td ng-show="editingFleet[$index]"><input ng-model="updateFleet.description"></td>
			<td ng-show="editingFleet[$index]">
				<button ng-click="saveFleet(fleet, updateFleet, $index)">Save</button>
				<button ng-click="disableFleetEdit($index)">Cancel</button>
				<button ng-click="removeFleet(fleet, $index)">Remove</button>
			</td>
		</tr>
	</tbody>
</table>
<!-- Fleets session end -->

<!-- Service Session -->
<h2>Services</h2>

<button ng-click="enableServiceAdd()" ng-hide="addingNewService">Add a New Service</button>

<form ng-submit="addService()" ng-show="addingNewService">
	<h3>Add a new service</h3>
	<div class="form-group">
		<input type="text" ng-model="name" placeholder="Name" required> 
	</div>
	<div class="form-group">
		<input type="number" ng-model="price" placeholder="Price/Hour" required>
	</div>
	<div class="form-group">
		<input type="text" ng-model="description" placeholder="Description" required>
	</div>
	
	<button type="submit"  >Confirm</button>
	<button type="button" ng-click="disableServiceAdd()" >Cancel</button>
</form>

<table class="table table-striped table-condensed">
	<thead>
		<tr>
			<th>Name</th>
			<th>Price/hour</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="service in services | orderBy: 'name'">

			<td ng-hide="editingService[$index]">{{service.name}}</td>
			<td ng-hide="editingService[$index]">{{service.price}}</td>
			<td ng-hide="editingService[$index]">{{service.description}}</td>
			<td ng-hide="editingService[$index]">
				<button ng-click="enableServiceEdit(service, $index)">Edit</button>
			</td>

			<td ng-show="editingService[$index]"><input ng-model="updateService.name"></td>
			<td ng-show="editingService[$index]"><input ng-model="updateService.price"></td>
			<td ng-show="editingService[$index]"><input ng-model="updateService.description"></td>
			<td ng-show="editingService[$index]">
				<button ng-click="saveService(service, updateService, $index)">Save</button>
				<button ng-click="disableServiceEdit($index)">Cancel</button>
				<button ng-click="removeService(service, $index)">Remove</button>
			</td>

		</tr>
	</tbody>
</table>
<!-- Service session end -->

<!-- Upload on form submit or button click
<form name="form">
	<img src="../../assets/image/file-1467263084633.png" alt="">
	<p>
		<button type="button" class="button" ngf-select ng-model="files" name="files" ngf-multiple="true" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100" 
		ngf-resize="{width: 400, height: 400}">Select</button>
	  	<button type="submit" ng-click="submit('fleets', 1)">submit</button>
	</p>
	<p>Image thumbnail: </p>
	<div ng-repeat="file in files">
		<img style="width:100px;" ngf-thumbnail="file || '/thumb.jpg'"/>
	  	<p>{{progress}}</p>
		<i ng-show="form.file.$error.required">*required</i><br>
		<i ng-show="form.file.$error.maxSize">File too large 
		{{file.size / 1000000|number:1}}MB: max 20M</i>	
	</div>	
</form> -->
