.footer > a >img {
	max-height: 23px;
}

.footer > a {
	color: white;
	font-size: 14px;
	font-weight: lighter;
	margin-right: 5px;
}

.footer-home {	
    position: fixed;
    bottom: 0;
    width: 100%;
}