<p class="footer">
	<a href="/about"> UE Limo Group&reg; 2016</a> 
	<a>|</a>
	<a href="/contact"> Contact Us</a> 
	<a>|</a>
	<a> 
		Follow Us :
	</a>		
	<a href={{information.instagram}}>
		<img src="../../assets/image/index/Instagram.png" alt="Instagram">
	</a>
	<a href={{information.facebook}}>	
		<img src="../../assets/image/index/Facebook.png" alt="Facebook">
	</a>
	<a href={{information.weibo}}>	
		<img src="../../assets/image/index/weibo.png" alt="Weibo">
	</a>
	<a href={{information.wechat}}>	
		<img src="../../assets/image/index/wechat.png" alt="Wechat">
	</a>
</p>