<div ng-style=footPosition>
	<p class="footer">
		<a href="/about" ng-style=colorFooter> UE Limo Group 2016</a> 
		<a ng-style=colorFooter>|</a>
		<a href="/contact" ng-style=colorFooter> {{"CONTACT" | translate}} {{"US" | translate}}</a> 
		<a ng-style=colorFooter></a>
		<!-- <a ng-style=colorFooter> 
			{{"FOLLOW_US" | translate}} :
		</a>		
		<a href={{information.instagram}}>
			<img src="../../assets/image/index/Instagram.png" alt="Instagram">
		</a>
		<a href={{information.facebook}}>	
			<img src="../../assets/image/index/Facebook.png" alt="Facebook">
		</a>
		<a href={{information.weibo}}>	
			<img src="../../assets/image/index/weibo.png" alt="Weibo">
		</a>
		<a href={{information.wechat}}>	
			<img src="../../assets/image/index/wechat.png" alt="Wechat">
		</a>
 -->
	</p>
</div>