<div class="container-fluid container-about">

	<div class="jumbotron jumbotron-about">
		<h1>{{"WELCOME_TO" | translate}} UE Limo Group</h1>
		<p> {{information.company_info}} </p>
	</div>

	<div class="panel panel-body panel-about table-responsive">
		<h1>{{"CONTACT" | translate}} {{"INFO" | translate}}</h1>
		<table class="table table-condense table-about">
			<tr>
				<th>{{"PHONE" | translate}} {{"NUMBER" | translate}}</th>
				<td>{{information.phone_number}}</td>
			</tr>
			<tr>
				<th>{{"ADDRESS" | translate}}</th>
				<td>{{information.address}}</td>
			</tr>
			<tr>
				<th>{{"EMAIL" | translate}}</th>
				<td>{{information.email}}</td>
			</tr>
			<tr>
				<th>{{"WECHAT" | translate}}</th>
				<td>{{information.wechat}}</td>
			</tr>
			<tr>
				<th>QQ</th>
				<td>{{information.qq}}</td>
			</tr>
			<tr>
				<th>{{"WEIBO" | translate}}</th>
				<td>{{information.weibo}}</td>
			</tr>
			<tr>
				<th>Facebook</th>
				<td>{{information.facebook}}</td>
			</tr>
			<tr>
				<th>Google+</th>
				<td>{{information.google_plus}}</td>
			</tr>
			<tr>
				<th>Instagram</th>
				<td>{{information.instagram}}</td>
			</tr>
			
		</table>
	</div>


</div>