.navbar-custimize {
	background-color: rgba(8,8,8,0.7);
	border-width: 0px;
}

.navbar-default .navbar-nav > li > a {
	color: white;
	font-size: 16px;
}

.navbar-default .navbar-brand {
	color: rgba(218, 199, 98, 1);
	padding-top: 1px;
}

.navbar-default .navbar-brand > img {
	max-width: 49px;
}

.nav-pills>li.active>a {
	background-color: #a1774f;
	border-radius: 1px;
}

.nav-pills>li.active>a:hover {
	background-color: #a1774f;
}