.navbar-custimize {
	background-color: rgba(8,8,8,0.5);
	border-color: transparent;
}

.navbar-default .navbar-nav > li > a {
	color: white;
	font-size: 17px;
}

.navbar-default .navbar-brand {
	color: rgba(218, 199, 98, 1);
}