<div class="navbar navbar-default navbar-static-top navbar-second">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="secondCollaps()">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div uib-collapse="isSecondCollapsed" class="navbar-collapse collapse" id="navbar-main">

      <ul class="nav nav-pills navbar-left ">
        <li ng-class="{active: isActive('/dashboard')}" ng-hide="isAdmin()"><a class="nav-second-a" href="/dashboard">Dashboard</a></li>
        <li ng-class="{active: isActive('/profile')}" ng-hide="isAdmin()"><a class="nav-second-a" href="/profile">Profile</a></li>
        <li ng-class="{active: isActive('/history')}" ng-hide="isAdmin()"><a class="nav-second-a" href="/history">History</a></li>
        <li ng-class="{active: isActive('/admin_setting')}" ng-show="isAdmin()"><a class="nav-second-a" href="/admin_setting">Admin Setting</a></li>
        <li ng-class="{active: isActive('/admin_data')}" ng-show="isAdmin()"><a class="nav-second-a" href="/admin_data">Admin Data</a></li>
      </ul>
    </div>
  </div>
</div>