<div class="container-fluid container-fleet">

	<h1 class="fleet-head">{{"PICK_YOUR_FAOURITE_VEHICLE" | translate}}</h1>

	<div ng-repeat="fleet in fleets">
	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail thumbnail-fleet">
	      <img src={{fleet.images[0].url}} alt={{fleet.type}}>
	      <div class="caption">
	        <h3>${{fleet.price_day}}/{{"DAY" | translate}}</h3>
	        <p>${{fleet.price_day_out}}/{{"DAY" | translate}} {{"OUT_TOWN" | translate}}</p>
	        <p>{{fleet.brand}} {{fleet.type}}</p>
	        <p>
	        	<a ng-click="reserve(fleet)" class="btn btn-primary btn-fleet" role="button">{{"RESERVATION" | translate}}</a> 
	        	<a class="btn btn-primary btn-fleet" href="tel:{{information.phone_number}}" role="button">{{"CALL" | translate}}</a>
	        </p>
	      </div>
	    </div>
	  </div>
	</div>

</div>