<div class="panel panel-body panel-contact table-responsive">
		<h1>Contact</h1>
		<table class="table table-condense">
			<tr>
				<th>Phone Number</th>
				<td>{{information.phone_number}}</td>
			</tr>
			<tr>
				<th>Address</th>
				<td>{{information.address}}</td>
			</tr>
			<tr>
				<th>Email</th>
				<td>{{information.email}}</td>
			</tr>
			<tr>
				<th>Wechat</th>
				<td>{{information.wechat}}</td>
			</tr>
			<tr>
				<th>QQ</th>
				<td>{{information.qq}}</td>
			</tr>
			<tr>
				<th>Weibo</th>
				<td>{{information.weibo}}</td>
			</tr>
			<tr>
				<th>Facebook</th>
				<td>{{information.facebook}}</td>
			</tr>
			<tr>
				<th>Google+</th>
				<td>{{information.google_plus}}</td>
			</tr>
			<tr>
				<th>Instagram</th>
				<td>{{information.instagram}}</td>
			</tr>
			
		</table>
	</div>
