
<div class="container-fluid">

	<div class="col-sm-12 col-lg-6" ng-hide="reserveFinished">
		<div class="panel panel-head panel-reserve">
			<h1>Reservation</h1>

			<form ng-submit="addReservation()" style="margin-top:30px" name="form">
				<div class="form-group">
					<label >Name:</label>
					<input class="form-control" type="text" ng-model="newUser.username" placeholder="Name" required>
				</div>
				<div class="form-group">
					<label >Email:</label>
					<input class="form-control" type="email" ng-model="newUser.email" placeholder="Email" required>
				</div>
				<div class="form-group">
					<label >Phone Number:</label>
					<input class="form-control" type="number" ng-model="newUser.phone_number" placeholder="Phone Number" required>
				</div>
				<div class="form-group">
					<label >When do you need the service: </label>
			  		<input class="form-control" type="datetime-local" ng-model="date" placeholder="yyyy-MM-ddTHH:mm:ss" min="2001-01-01T00:00:00" max="2013-12-31T00:00:00" required />
				</div>
				<div class="form-group">
					<label >How many guests:</label>
					<input class="form-control" type="number" ng-model="people" placeholder="Number of People" required>
				</div>
				<div class="form-group">
					<label >Which fleet: </label>
					<select class="form-control" ng-options="fleet as fleet.type for fleet in fleets track by fleet._id" ng-model="selectedFleet" required></select><br>
				</div>
				<div class="form-group">
					<label >Which service: </label>
					<select class="form-control" ng-options="service as service.name for service in services track by service._id" ng-model="selectedService" required></select>
				</div>
				
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="createAccount"> Create an account
					</label>
				</div>
				<div class="form-group" ng-show="createAccount" >
			        <label>Password</label>
			        <input type="password" name="password" class="form-control" placeholder="Password" ng-minlength="3" ng-model="newUser.password" required>
			    </div>

			    <div class="form-group" ng-show="createAccount">
			        <label>Confirm Password</label>
			        <input type="password" name="confirmPassword" class="form-control" placeholder="Confirm Password" ng-model="user.passwordConfirm" match="newUser.password" ng-minlength="3" required>
			        <p class="help-block alert alert-danger"
			        ng-show="form.confirmPassword.$error.match && submitted">
			        Passwords must match.
			        </p>
			    </div>
				<button type="submit" class="btn btn-primary" >Confirm</button>
			</form>
		</div>
	</div>

	<div class="col-sm-12 col-lg-6" ng-hide="reserveFinished">
		<div class="panel panel-head panel-reserve-image">
			<img src={{selectedFleet.images[0].url}} alt={{selectedFleet.type}}>
		</div>
	</div>

	<div class="col-sm-12 col-lg-6" ng-show="reserveFinished">		
		<div class="panel panel-head panel-reserve">
			<h1>Congratulations~! Your reservation has been made</h1>
			<button class="btn btn-primary">Continue Shopping</button>
		</div>
	</div>


</div>