.container-service {
	padding: 0px;
	margin-bottom: 30px;
}

.thumbnail-service > img {
	height: 200px;
}

.service-head {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

.btn-service {
	width: 45%;
	margin-right: 10px;
	background-color: #a1774f;
	border-color: #a1774f;
}